# PlatformIO
.pio
.pioenvs
.piolibdeps
.vscode
*.code-workspace

# Python Files
__pycache__/
*.pyc
out.txt

# PyInstaller Files
/build
/dist

# Project files
.picasa*

# PCB and Schematic File Backups
*.*\#[0-9]

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
