esptool          # For flashing ESP8266 controllers
appJar           # For creating a GUI

git+https://github.com/pyinstaller/pyinstaller.git@develop   # develop branch required for python 3.8 support